body {
    background-image: linear-gradient(180deg, rgb(4, 159, 248), rgb(138, 204, 241));
}

/* HEADER */
header {
    padding: 30px 0;
    margin: 15px 0;
    box-shadow: 10px 10px 10px rgb(5, 46, 122);
    width: 0 940px;
    border-radius: 10px;
}

.box {
    position: relative;
    width: 940px;
    margin: 0 auto;
}

/* ENCODER MASTER - TITLE*/
.titulo-principal {
    position: relative;
    text-align: center;

    font-family: 'Inter';
    font-style: normal;
    font-size: 50px;
    color: #a9f5ff;

    text-shadow: 2px 3px 2px rgb(5, 46, 122);
}

/* LOGO key */
.logo {
    position: absolute;
    bottom: 5px;
    margin: 0 20px;
}

/* MAIN CONFIGS */
main {
    width: 940px;
    margin: 0 auto;
    padding: 10px 0;
}

/* DIGITE SEU TEXTO */
.digite-texto {
    display: inline-block;
    width: 45%;
    height: 300px;
    padding: 0 10px;
    margin: 0 30px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    
    vertical-align: top;

    color: #0A3871;
    background-color: #d8eff1c9;
    border-radius: 20px;

    box-shadow: 0 0 10px rgb(5, 46, 122);

    border: none;
    outline: none;
    resize: none;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #0A3871;
}
.digite-texto:hover {
    box-shadow: 0 0 10px rgb(4, 255, 222);
}

/* RECTANGLE MODEL */
.rectangle {
    display: inline-block;
    width: 45%;
    height: 300px;
    
    background: #d8eff1c9;

    box-shadow: 0 0 10px rgb(5, 46, 122);
    border-radius: 32px;
}
.rectangle:hover {
    box-shadow: 0 0 10px rgb(4, 255, 222);
}

/*text: resultado aparecerá aqui*/
.semResultado {
    margin: 20px 15px;
    padding: 20px 15px;
    position: absolute;
    display: inline-block;
    text-align: center;

}

/* logo pre resultado */
.cadeado {
    position: relative;
    width: 200px;
    height: 150px;
}

/*O Resultado Aparecerá Aqui!*/
.notfound {
    position: relative;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 29px;
    line-height: 120%;
    margin: 20px 0;
    color: #0A3871;
}

.comResultado {
    display: none;
    position: absolute;

    text-align: center;
    left: 760px;
}
/* resultado codificado */
.texto-codificado {  
    position: relative;  
    width: 330px;
    height: 250px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 150%;
    
    background: #d8eff100;
    color: #0A3871;
    border: none;
    outline: none;
    resize: none;
}

/* Condificado/decodificado com sucesso */
.sucess-encode {
    position: relative;
    width: 336px;
    height: 30px;
    bottom: 50px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 29px;
    line-height: 120%;

    text-align: center;
    color: #0A3871;
}

/* infos: para codificar, basta clicar em copiar... */
.texto-decode {
    position: relative;
    width: 336px;
    height: 30px;
    bottom: 50px;
    margin: 10px 0;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;

    color: #0A3871;
}

.texto-decode strong {
    font-weight: bold;
}

/* Letras Minusculas DIV CONFIGS*/
.letras-minusculas {
    display: block;
    align-items: center;
    margin: 5px 40px;
}

/* Texto - Apenas letras minúsculas e sem acento. */
.letrasMinusculas {
    display: inline-block;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 15%;

    color: #242629;
    opacity: 0.8;
    
    flex: none;
    order: 1;
    flex-grow: 0;
}

/* BOTÕES */
.botoes {
    display: inline-block;
    margin: 10px 30px;
}

/*Criptografar Configs (button and text) */
.button-criptografar {
    padding: 20px;
    width: 200px;
    height: 10px;
       
    background: #0A3871;
    border-radius: 24px;
}

.button-criptografar:hover {
    background: #021a38;
}

.button-criptografar:active {
    background: #1259af;
}

.text-criptografar {
    position: relative;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 0px;
    text-align: center;

    color: #FFFFFF;
}

/*Descriptografar Configs (button and text) */
.button-descriptografar {
    padding: 20px;
    width: 200px;
    height: 10px;

    background: #D8DFE8;

    border: 1px solid #0A3871;
    border-radius: 24px;
}

.button-descriptografar:hover {
    background: #9b9c9c;
}

.button-descriptografar:active {
    background: #fafbfc;
}

.text-descriptografar {
    position: relative;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 0px;
    text-align: center;
    
    color: #0A3871;
}

/*Copy Configs (button and text) */
.buttonCopy {
    display: none;
    margin: 10px 135px;
}

.button-copy {
    padding: 20px;
    width: 200px;
    height: 10px;

    background: #D8DFE8;

    border: 1px solid #0A3871;
    border-radius: 24px;
}

.button-copy:hover {
    background: #9b9c9c;
}

.button-copy:active {
    background: #fafbfc;
}

.text-copy {
    position: relative;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 0px;
    text-align: center;
    
    color: #0A3871;
}

/* FOOTER CONFIGS */

footer {
    font-family: 'Inter';
    font-style: normal;
    font-weight: bold;
    font-size: 20px;

    color: #0A3871;
    text-align: center;

    padding: 20px 0;
}

.in {
    display: inline-block;
    font-family: 'Inter';
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    
    color: #0A3871;
}

.github {
    display: inline-block;
    font-family: 'Inter';
    font-style: normal;
    font-weight: bold;
    font-size: 15px;   

    margin-left: 19px;

    color: #0A3871;
}


@media screen and (max-width: 1080px) {
    .semResultado, .comResultado {
        position: static;
        margin: 0 2em;
    }
}

@media screen and (max-width: 768px) {
    header, .box, .titulo-principal, main, .digite-texto, .rectangle, .letras-minusculas, .botoes, .buttonCopy, footer  {
        width: auto;
    }
    main {
        margin: 0 115px;
    }
    .titulo-principal {
        font-size: 4em;
    }
    .digite-texto, .rectangle {
        margin: 10px 0;
        position: relative;
        display: block;
        width: 535px;
        height: 300px;
    }
    .digite-texto {
        font-size: 28px;
    }
    .rectangle {
        top: 90px;
    }

    .semResultado {
        position: absolute;
        left: 0;
        margin: 5% 30%;
    }

    .cadeado, .notfound {
        position: relative;
        font-size: 20px;
    }

    .comResultado {
        position: absolute;
        left: 0;
        margin: 0% 19%;
    }

    .texto-codificado, .sucess-encode {
        position: relative;
        font-size: 24px;
    }

    .texto-decode {
        position: relative;
        font-size: 14px;
    }

    .botoes, .letras-minusculas {
        position: relative;
        bottom: 310px;
        margin: 2px;
        width: 550px;
    }
    .letrasMinusculas {
        font-size: 18px;
    }
    .text-copy, .text-criptografar, .text-descriptografar {
        font-size: 16px;
    }
    .button-criptografar, .button-descriptografar {
        width: 210px;
        margin: 0 5px;
    }

    .button-copy {
        position: relative;
        width: 210px;
        margin: 10px 5px;
        right: 0px;
    }
}

@media screen and (max-width: 480px) {
    header, .box, .titulo-principal, main, .digite-texto, .rectangle, .letras-minusculas, .botoes, .buttonCopy, footer  {
        width: auto;
    }
    main {
        margin: 0 115px;
    }
    .titulo-principal {
        font-size: 2em;
    }
    .digite-texto, .rectangle {
        margin: 10px 0;
        position: relative;
        display: block;
        width: 235px;
        height: 300px;
    }
    .digite-texto {
        font-size: 20px;
    }
    .rectangle {
        top: 90px;
    }

    .semResultado {
        position: absolute;
        margin: auto;
    }

    .notfound, .cadeado {
        font-size: 20px;
        position: relative;
    }

    .comResultado {
        position: absolute;
        margin: auto;
        width: 235px;
    }
    .texto-codificado {
        width: 235px;
        position: relative;
        margin: 0 20px;
        font-size: 16px;
    }
    .sucess-encode {
        position: relative;
        width: 235px;
        font-size: 20px;
    }

    .texto-decode {
        position: relative;
        margin: 0 5em;
        font-size: 9px;
        width: 150px;
    }

    .botoes, .letras-minusculas {
        position: relative;
        bottom: 310px;
        margin: 0 auto;
    }
    .letrasMinusculas {
        font-size: 8px;
    }
    .text-copy, .text-criptografar, .text-descriptografar {
        font-size: 10px;
    }
    .button-criptografar, .button-descriptografar {
        width: 85px;
    }
    .buttonCopy {
        position: relative;
        margin: 10px 55px;
    }
    .button-copy {
        position: relative;
        width: 110px;
        margin: 10px 5px;
    }
}